apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-app-staging
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/mrtylcn99/devops-cicd-project.git
    targetRevision: staging
    path: k8s/overlays/staging
  destination:
    server: https://kubernetes.default.svc
    namespace: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
